@page "/"

<PageTitle>Index</PageTitle>
<div class="d-flex justify-center align-content-center">
<MudImage Fluid="true" ObjectPosition="ObjectPosition.Right" Src="pokedex_logo.webp" Alt="Pokedex logo" Elevation="0"/>

</div>

